{% extends 'layout.html' %}

{% block head %}
    <title>Adicionar Card</title>
{% endblock%}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="login_form" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.cardName }}
        {{ form.cardContent }}
        {{ form.submit }}
    </form>
    <h1>Olá, isso é um pequeno teste para adicionar um novo FlashCard {{ user_id }} </h1>


    <a href="/dashboard/{{user_id}}">Cancelar</a>
{% endblock %}