{% extends 'layout.html' %}

{% block head %}
    <title>Adicionar Card</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
{% endblock%}

{% block body %}

    <nav class="menu">
        <a href="/logout" id="deslogar" class="md-60 md" ><span class="material-icons md-60">
            logout
        </span></a>
    </nav>
    
    <h1 class="dash_title">Adicionar Card</h1>

    <div class="add">
        <form class="login_form card_form" action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.cardName(class='login_input card_input') }}
            {{ form.cardContent(class='login_input card_input') }}
            {{ form.submit(class='login_SubmitBTN') }}
        </form>

        <a href="/dashboard/{{user_id}}">Cancelar</a>
    </div>

{% endblock %}