{% extends 'layout.html' %}

{% block head %}
    <title>Dashboard</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
{% endblock%}

{% block body %}

    <nav class="menu">
        <input type="text" placeholder="Pesquisar" name="" id="">
        <a href="/logout" id="deslogar" class="md-60" ><span class="material-icons md-60">
            logout
        </span></a>
    </nav>
    
    <h1 class="dash_title">Seus Cards</h1>
    
    <div class="cards_grid">
        {% for card in cards %}
        <div class="card">
            <h4 class="card_text">{{ card.cardName }}</h4> 
            <p class="card_text">{{ card.cardContent }}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="float">
        <a href="/adicionar/{{user_id}}" class="md-48"><span class="material-icons md-48 icon_float">
            post_add
        </span></a>
    </div>

{% endblock %}